<section class="py-5 bg-light">
    <div class="container">
        <div class="row mb-3">
            <div class="col text-end">
                <a href="/admin/add-product" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i> Add Product
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered shadow-sm bg-white">
                <thead class="table-success text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product}}
                    <tr class="align-middle text-center">
                        <th scope="row">{{incrementIndex @index}}</th>
                        <td>{{this.productTitle}}</td>
                        <td>{{this.productCategory}}</td>
                        <td>{{this.productDescription}}</td>
                        <td> {{this.productPrice}}</td>
                        <td>
                            <img src="/product-images/{{this._id}}.jpg" alt="{{this.productTitle}}"
                                class="img-thumbnail" style="width: 50px; height: 50px;">
                        </td>
                        <td class="d-flex flex-column gap-2 justify-content-center">
                            <!-- Edit Button -->
                            <a class="btn btn-warning btn-sm flex-grow-1 text-center" href="/admin/edit-product">
                                <i class="bi bi-pencil"></i> Edit
                            </a>

                            <!-- Delete Button -->
                            <a class="btn btn-danger btn-sm flex-grow-1 text-center" href="/admin/delete-product">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>